/*? MOBILE_VERS */

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  /*! header*/

  .header {
    max-width: 428px;
  }

  /*! mobile_menu */
  .mb-menu-tel {
    font-size: 36px;
    line-height: 1.11;
  }

  .list-mobile-soc {
    gap: 56px;
  }

  /*! hero */

  .hero-main {
    max-width: 428px;
  }

  /*! benefits */

  .benefits-item {
    max-width: 396px;
  }

  /*! footer */

  .input-subscr {
  }

  .subscribe-form {
  }
}

/*? TABLE_VERS */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /*! header */

  .header {
    max-width: 768px;
  }

  .header-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .main-logo {
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    transition: color var(--transform-item-hover);
  }

  .header-link:hover {
    color: var(--active-link-color);
  }

  .header-link:focus {
    color: var(--active-link-color);
  }
  .active-nav {
    position: relative;
  }

  

  .active-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--active-link-color);
    border-radius: 2px;
    left: 0;
    bottom: -35px;
  }

  .header-contact {
    font-style: normal;
    display: flex;
  }

  .adress-list {
    /* display: flex; */
  }

  .adress-item:last-child {
    /* margin-left: 40px; */
    margin-top: 12px;
  }

  /* .contact-wrap {
    display: flex;
  } */

  .adress-item {
  }

  .item-contact {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition: color var(--transform-item-hover);
  }

  .item-contact:hover {
    color: var(--active-link-color);
  }

  .item-contact:focus {
    color: var(--active-link-color);
  }

  /*! Burger_menu */

  .menu-mob {
    display: none;
  }

  /*! hero */

  .hero {
    max-width: 768px;
    height: 436px;
  }

  .hero-main {
    max-width: 496px;
  }

  .hero-title {
    font-size: 52px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /* .footer-wrap > .container {
    width: 582px;
  } */

  /*! benefits */

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-title {
    text-align: start;
  }

  /*! team */

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 64px 24px;
  }

  /*! customers */

  .customers > .container {
    width: 552px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }

  /*! footer */

  .footer > .container {
    width: 552px;
  }

  .footer-wrap {
    justify-content: flex-start;
  }

  .footer-logo {
    text-align: start;
  }

  .soc-foot-description {
    text-align: start;
  }

  .footer-subscribe {
    padding: 0;
  }

  .foot-text-block {
    margin-right: 24px;
  }

  .subscr-text {
    text-align: start;
  }

  .input-elements {
    display: inline-flex;
  }

  .input-subscr {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
  }
}

/*? DESCTOP_VERS */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*! header */

  .header {
    max-width: 1440px;
  }

  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .main-logo {
    margin-right: 76px;
  }

  .adress-list {
    display: flex;
  }

  .adress-item:last-child {
    margin-left: 40px;
    margin-top: 0;
  }

  .active-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--active-link-color);
    border-radius: 2px;
    left: 0;
    bottom: -25px;
  }

  /*! hero */

  .hero {
    height: 600px;
    max-width: 1440px;
  }

  .hero-main {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 48px;
  }

  /*! icon_svg_benefits */

  .benefits-icon-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .bnf-icon-item {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bnf-icon-pic {
    width: 64px;
    height: 64px;
  }

  /* benefits_text_description */

  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-text {
    max-width: 264px;
  }

  /*! what are we do in */

  .examples {
    padding-bottom: 120px;
  }

  .examples-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--second-title-color);
  }

  .examples-title {
    margin-bottom: 72px;
  }

  .examples-list {
  }

  .examples-list {
    display: flex;
    gap: 24px;
  }

  .examples-item {
    width: calc((100% - 48px) / 3);
  }

  /*! team */

  .team-list {
    justify-content: center;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /*! customers */

  .customers > .container {
    width: 1128px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  /*! footer */

  .footer > .container {
    width: 1128px;
  }

  .footer {
    max-width: 1440px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrap {
    flex-wrap: nowrap;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .foot-text-block {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-soc {
    margin-bottom: 0;
    margin-right: 80px;
  }

  /*! footer_subscribe */

  .input-elements {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1157px) {
  .examples {
    display: none;
  }
}

@media screen (min-width: 768px) and (max-width: 1157px) {
  .team > .container {
    width: 552px;
  }
}

/*? operator and */
/** якщо дві умови виконуются то розпакуєтся медіа правило */

/* @media screen (min-width: ) and (max-width: ) {
  
}

@media screen (max-width: ) {

} */

/*? operator or */
/** якщо одна з цих умов виконуєтся то розпакуєтся медіа правило */

/* @media screen (max-width: ), (min-width: ) {
}
 */
